@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    margin: 0; 
    margin: auto; 
    max-width: 1200px;
    background-color: azure;
    font-family: 'VT323', monospace;
    color: darkblue; 
}

header {
    max-width: 950px;
    padding: 5px; 
    border: 1px darkblue solid;
    margin-top: 50px; 
    margin: auto;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

header h1 {
    font-size: 30pt;
}

header h3 {
    font-size: 24pt;
}

main {
    border: 1px darkblue solid;
    width: 950px;
    padding: 5px;  
    margin: auto; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;
    
}

a {
    font-size: 24pt;
    text-decoration: none;
    color: darkblue; 
}

section {
    padding-left: 100px; 
    padding-right: 100px; 
    margin: 5px; 
    border: 1px darkblue dashed;
}

section h1 {
    font-size: 24pt;
}

a h5:hover {
    background-color: yellow;
}

#title {
    text-align: center;
}