@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=VT323&display=swap');

*, html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    margin: 5px; 
    margin: auto; 
    background-color: azure;
    font-family: 'VT323', monospace;
    color: darkblue; 
}

header {
    background-color: azure;
    width: 100%;
    padding: 5px; 
    border: 1px darkblue solid;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0; 
}

header h1 {
    font-size: 2.5em;
    line-height: 0;
}

header h3 {
    font-size: 1.5em;
    line-height: 1;
}

header img {
    width: 15%; 
    height: auto; 
    align-self: center;
}

h4 {
    font-family: 'Inclusive Sans', sans-serif;
    line-height: 1;
}

h5 {
    font-size: 1em;
}

main {
    border: 1px darkblue solid;
    width: 95%;
    margin: auto; 
    margin-top: 225px;
    margin-bottom: 200px;
    
}

a {
    font-size: 1.5em;
    text-decoration: none;
    color: darkblue; 
}

section {
    margin: auto; 
    width: 20%; 
    padding: 1%; 
    margin: 1%;
    border: 1px rgba(0, 0, 139, 0.617) dashed;
}

section h1 {
    font-size: 1.75em;
    color: magenta; 
}

a h5:hover {
    background-color: yellow;
}

#title {
    text-align: center;
}

#current {
    width: 89%; 
    margin: auto; 
    margin-top: 1%; 
    padding: 1%; 
}
#past {
    width: 95%; 
    padding: 1%; 
    margin: auto;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;
}

#sections {
    padding: 1%; 
    margin: 1%;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 85%;
    }
}
