header {
    text-align: center;
}

nav {
    text-align: center;
    word-spacing: 60px;
    margin-top: 30px;
}

main {
    width: 75%;
    margin: auto;
}

footer {
    text-align: center;
}

.art {
    margin: 40px;
}

.about {
    float: left;
    margin-right: 40px;
}



/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/cursors/cur-3/cur232.ani), url(https://cur.cursors-4u.net/cursors/cur-3/cur232.png), auto !important;} /* End https://www.cursors-4u.com */