@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Gayathri|Work+Sans&display=swap');
*{
    margin:0;
    
}
body{
    background-color:#CCC878;
    font-family: 'Work Sans', sans-serif;
    margin-top:100px;
    margin-left: 400px;
    margin-right:400px;
    margin-bottom: 400px;
    color:#0B454D;

  
}
header{
    font-family: 'DM Serif Display', serif;
    letter-spacing:4px;
    font-size:20px;
    position:absolute;left:10px; bottom:3000px; top:200px;
    color:#13717D;
    transform: rotate(-90deg);
    opacity:0.8;
    position:fixed;
    
}
p{
    opacity:0.8;
    font-size:13pt;
    font-family: 'Work Sans', sans-serif; 
    padding-bottom: 50px;
}
a{
    text-decoration:none;
    color:#FF019C;
    opacity:0.6;
}
a:hover{
    color:black;
}

nav{
    margin: 0px,40px, 20px, 0px;
    
}
nav a{
    font-family: 'Gayathri', sans-serif;
    font-size:30px;
    opacity:0.6;
    font-weight:bold;
    
}


h2,h3{
    
    font-weight: bold;
    
}
h2{
    color: #13717D;
    text-transform:lowercase;   
    display: inline;
    background-color: #B4E1E8; opacity:0.6;
    
}
h3{
    color: #13717D;
    opacity: 0.6;
    text-transform:uppercase;
    
}

div{
    column-rule-width: 50px;
}
.darker{
    color: #0B454D;
}
.faded{
    opacity:0.3;
    text-decoration: line-through;
}

.padding{
    padding: 80px 0px 0px 0px;
    
}
.indent{
    padding-top:62px;
}
.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
td{
    padding-right:30px;
}
.border-right {
    border-right: 1px solid black;
}
.effect{
    transition: 0.3s ease;
  text-decoration: none;
  border-top: 4px solid pink;
  border-bottom: 4px solid pink;
  padding: 20px 0;
  margin: 0 20px;
}
.effect:hover{
    border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}